# Virtual environment
new_env/
venv/
ENV/
env/

# Python compiled files
*.pyc
*.pyo
__pycache__/

# Django specific
# db.sqlite3
*.log

# Static files
# staticfiles/
# static/
# media/

# IDEs and editors
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
